{% extends "layout.html" %}

{% block content_header %}
  {{ build_breadcrumb('Ngrok', '', 'lock', ['List']) }}
{% endblock %}

{% block content %}
  <section class="content">
    {% call build_list_containers('Ngrok', 'plane') %}
      {% call build_list_table() %}
        {% call build_list_table_headers() %}
          <th>Name</th>
          <th>Protocol</th>
          <th>Port</th>
          <th>Url</th>
          {{ add_list_table_header_action() }}
        {% endcall %}
        {% call(ngrok) build_list_table_rows(resource_list['tunnels']) %}
          <td>{{ ngrok.name }}</td>
          <td>{{ ngrok.proto }}</td>
          <td>{{ ngrok.config.addr }}</td>
          <td>{{ ngrok.public_url }}</td>
          <td>
            {{ add_delete_button(href=url_for('.NgrokView:delete', id=ngrok.name)) }}
          </td>
        {% endcall %}
      {% endcall %}
    {% endcall %}

    {% call build_hidden_add_containers('Add Ngrok tunnel') %}
      {% call build_form() %}
        {% call add_default_fields(form=form, submit_value="Add") %}
          {{ render_field(form.name) }}
          {{ render_field(form.port) }}
          {{ render_field(form.protocol) }}
          {{ render_field(form.bind_tls) }}
          {{ render_field(form.use_wazo_crt) }}
          {{ render_field(form.auth) }}
          {{ render_field(form.subdomain) }}
        {% endcall %}
      {% endcall %}
    {% endcall %}
  </section>
{% endblock %}
